@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  padding: 10px;
}

.container {
  margin-top: 40px;
  gap: 50px;
}

.main-content {
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 15px;
  margin: 0 auto;
  grid-template-areas: "about" "education-skills" "portfolio" "contact";
}

.arrow {
  position: fixed;
  right: 0;
  top: 80%;
  font-size: 35px;
  color: #9C95DC;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  background-color: #a7d1f1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 100%;
  background-color: #9C95DC;
  border-radius: 3px;
  padding: 15px;
  color: white;
  font-size: 20px;
  border: none;
  margin-top: 20px;
}

button:hover {
  background-color: #228CDB;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.badge {
  background-color: #9C95DC;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.badge:hover {
  background-color: #228CDB;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 7px;
  cursor: pointer;
  font-size: 25px;
  transition: all 200ms;
}

.close-btn:hover {
  color: #9C95DC;
}

.contact {
  grid-area: contact;
}

fieldset {
  border: none;
}

input {
  width: 100%;
  padding: 18px;
  border: none;
  outline: none;
  background-color: hsla(210, 9%, 83%, 0.302);
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea {
  transition: all 300ms;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus {
  border: 1px solid #1f2d3d;
}

input::placeholder,
textarea::placeholder {
  text-align: right;
  font-style: italic;
  transform: translateX(-15px);
}

input:required:valid {
  transition: all 2s;
  background-image: url(/images/check.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  border: 1px solid lightgreen;
}

input:required:valid:focus {
  border: 1px solid lightgreen;
}

input:required:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid red;
}

input:required:invalid:not(:focus):placeholder-shown,
input:required:invalid:not(:focus) {
  background-image: url(/images/asterisk.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

input:required:invalid:focus {
  border: 1px solid red;
  background-image: url(/images/asterisk.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

textarea {
  width: 100%;
  height: 110px;
  padding: 18px;
  background-color: hsla(210, 9%, 83%, 0.302);
  border: none;
  border-radius: 3px;
  outline: none;
  margin-top: 15px;
}

.contact-incon {
  gap: 20px;
}

.portfolio-container,
.skills {
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  margin-top: 2%;
}

@media only screen and (min-width: 768px) {
  .main-content {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 15px;
    margin: 0 auto;
    grid-template-areas: "about" "education-skills" "portfolio" "contact";
  }
  .education-profile {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 2%;
  }
}
.intro-img {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: absolute;
  top: -70px;
  right: 100px;
  animation: 1s linear slidein;
}

.about-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  object-fit: cover;
}

.graduation-photo {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  animation: 1s linear slidein;
}

@media (min-width: 768px) {
  .intro-img {
    position: relative;
    width: 600px;
    top: 0;
    right: 0;
  }
}
.nav-intro {
  height: 100%;
  max-height: 100%;
}

.main-header {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: max-content;
  height: max-content;
  translate: 0 -30px;
  transition: all 200ms;
  z-index: 100;
}

.menu.active {
  translate: -70vw 25px;
}

.menu.active > *:first-child {
  background-color: #B7B6C1;
}

.menu.active > *:nth-child(2) {
  background-color: #B7B6C1;
}

.menu.active > *:last-child {
  background-color: #B7B6C1;
}

.menu__item {
  border-radius: 3px;
  width: 33px;
  height: 4px;
  background-color: #a7d1f1;
  transition: all 200ms;
}

.main-nav {
  width: 100%;
  height: 100%;
  transition: all 200ms;
}

.main-nav.hide {
  translate: -125% -20px;
}

.main-nav.show {
  translate: 20% 0;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #464655;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav-lists > a {
  text-decoration: none;
}

a {
  color: #4F518C;
}

a:visited {
  color: #4F518C;
}

.nav-link:hover {
  color: white;
  transition: all 200ms;
  background-color: #DABFFF;
  padding: 10px;
}

.nav-item {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    translate: -15px 5px;
  }
  .main-nav.show {
    text-align: center;
    translate: 0;
    background-color: #dbd9f2;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all 200ms;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(30px);
  background-color: hsl(244, 28%, 95%);
  width: 100%;
}

.intro {
  padding: 5px;
  height: 100%;
  transform: translateY(60px);
}

@media (min-width: 768px) {
  .home {
    flex-direction: row;
    background-color: white;
    box-shadow: none;
  }
  .intro {
    transform: translateY(3px);
  }
}
.about {
  grid-area: about;
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 5px;
}

.about-me-intro {
  background-color: #dbd9f2;
}

.about-heading {
  color: #228CDB;
}

.about-icon {
  font-size: 30px;
  letter-spacing: 20px;
  transform: translateY(10px);
  color: #228CDB;
}

.about-p {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 100%;
  text-align: center;
  background-color: #9C95DC;
  color: whitesmoke;
}

.background-heading {
  text-shadow: 3px 3px 20px hsl(216, 98%, 70%), -2px 1px 30px hsl(216, 98%, 70%);
}

.overlay {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100%;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  left: 12%;
  box-shadow: rgba(211, 181, 229, 0.293) 0px 54px 55px, rgba(211, 181, 229, 0.12) 0px -12px 30px, rgba(211, 181, 229, 0.12) 0px 4px 6px, rgba(211, 181, 229, 0.17) 0px 12px 13px, rgba(211, 181, 229, 0.09) 0px -3px 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 768px) {
  .modal {
    height: max-content;
    width: 600px;
    top: 15%;
    line-height: 2;
  }
}
.education-skills {
  grid-area: education-skills;
  display: flex;
  flex-direction: column;
}

.edu-headings {
  text-shadow: 3px 3px 20px hsl(216, 98%, 70%), -2px 1px 30px hsl(216, 98%, 70%);
}

.profile-icon {
  left: 0px;
}

.education-icon {
  right: 0px;
}

.fa-paperclip {
  position: absolute;
  top: 0px;
  font-size: 25px;
  color: #9C95DC;
}

.profile {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  transform: rotate(5deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.education {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotate(-5deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.skills {
  margin: 0 auto;
}

.skills-card {
  text-align: center;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: hsl(246, 50%, 90%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.skills-card > ul {
  text-align: center;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #9C95DC;
  border-radius: 5px;
  color: whitesmoke;
}

.skills-icon {
  font-size: 25px;
  color: #228CDB;
  letter-spacing: 5px;
  margin-top: 20px;
}

.card-pin {
  position: absolute;
  top: 0;
  padding-top: 5px;
  color: hsl(315, 24%, 50%);
}

.no-bullet {
  list-style: none;
}

.portfolio {
  grid-area: portfolio;
}

.portfolio-container {
  gap: 30px;
}

.card {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background-color: #a7d1f1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.card-body {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
