*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hind", sans-serif;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.main-content {
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 15px;
  margin: 0 auto;
  grid-template-areas: "about-me" "education-skills" "skills-section" "portfolio" "footer";
}

.heading {
  font-size: 35px;
  text-shadow: 3px 3px 20px hsl(216, 98%, 70%), -2px 1px 30px hsl(216, 98%, 70%);
}

.up-arrow {
  position: fixed;
  border-radius: 5px;
  background-color: #9C95DC;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  padding: 5px;
  transition: all 200ms;
  cursor: pointer;
}
.up-arrow:hover {
  background-color: white;
  border: 1px solid #9C95DC;
  scale: 1.1;
}
.up-arrow:hover .arrow {
  color: #9C95DC;
}
.up-arrow a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.up-arrow .arrow {
  display: inherit;
  width: inherit;
  height: inherit;
  font-size: 30px;
  color: white;
  transition: all 200ms;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  transform: translateY(450px);
  height: 100%;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  transform: translateY(-40px);
}

@media (min-width: 768px) {
  .footer {
    width: 100%;
    height: 50px;
    transform: translateY(1200px);
    gap: 5px;
  }
  .contact-links {
    gap: 50px;
    font-size: 25px;
    transform: translateY(50px);
  }
}
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

@keyframes slide-in {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button {
  font-family: "Open Sans", sans-serif;
  width: max-content;
  background-color: #9C95DC;
  border-radius: 25px;
  color: #417B5A;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
}
button:hover {
  background-color: #228CDB;
  color: white;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 7px;
  cursor: pointer;
  font-size: 25px;
  transition: all 200ms;
}
.close-btn:hover {
  color: #9C95DC;
}

.intro-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-top: 1px solid #a7d1f1;
  border-bottom: 1px solid #a7d1f1;
  border-right: 1px solid #a7d1f1;
  animation: 1s linear slide-in;
}

.about-img,
.graduation-photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  animation: 1s linear slide-in;
}

.project-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro-img {
    width: 600px;
  }
}
@media (min-width: 1024px) {
  .intro-img {
    width: 1000px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-height: 100%;
}

.nav-intro-div {
  margin: 10px auto;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.nav-intro-div:has(.menu) {
  border: none;
}
.nav-intro-div:has(.menu.active) {
  border-top: 1px solid hsla(0, 0%, 50%, 0.3);
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.3);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: max-content;
  height: max-content;
  translate: -10px -20px;
  transition: all 200ms;
  z-index: 100;
}
.menu.active {
  translate: -80vw -20px;
}
.menu.active > *:first-child {
  background-color: #B7B6C1;
}
.menu.active > *:nth-child(2) {
  background-color: #B7B6C1;
}
.menu.active > *:last-child {
  background-color: #B7B6C1;
}
.menu .menu__item {
  border-radius: 3px;
  width: 33px;
  height: 4px;
  background-color: #a7d1f1;
  transition: all 200ms;
}

.main-nav {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  transition: all 200ms;
}
.main-nav.hide {
  translate: -1125% 0;
}
.main-nav.show {
  translate: 45% 0;
}

.nav-list {
  font-family: "DM Serif Display", serif;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #464655;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.nav-list a {
  text-decoration: none;
}

a {
  color: #4F518C;
}
a:visited {
  color: #4F518C;
}

.nav-item {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }
  .nav-intro-div {
    margin-top: 0;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.3);
    padding: 0;
    margin-bottom: 40px;
    transition: height 300ms;
  }
  .nav-intro-div:has(.menu.active) {
    border: none;
  }
  .sticky-nav {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 101;
    height: max-content;
    border-bottom: none;
  }
  .sticky-nav .main-nav {
    border-bottom: 2px solid hsla(0, 0%, 50%, 0.3);
  }
  .menu {
    display: none;
  }
  .main-nav {
    display: block;
    padding: 10px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    translate: 0;
    box-shadow: 2px 5px 5px -1px hsla(0, 0%, 0%, 0.2);
    transition: all 200ms;
  }
  .main-nav.show {
    translate: 0;
  }
  .nav-list {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .nav-list .nav-link {
    transition: all 200ms;
  }
  .nav-list .nav-link:hover {
    text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.2);
    padding: 10px;
    border-bottom: 2px solid black;
  }
}
.home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: hsl(244, 28%, 95%);
  width: 100%;
  height: 100vh;
}

.intro {
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
.intro .main-heading {
  font-size: 50px;
  font-weight: bolder;
  color: #9C95DC;
}
.intro .name {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .home {
    flex-direction: row;
    background-color: white;
    transform: translateY(-20px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .intro {
    font-size: 18px;
    line-height: 2;
  }
}
.about-me {
  grid-area: about-me;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
  transform: translateY(50px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: hsl(244, 28%, 95%);
}

.about-me-intro,
.about-img-div,
.my-story {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  line-height: 2;
}

.about-icon {
  font-size: 30px;
  letter-spacing: 20px;
  color: #9C95DC;
}

.about-p {
  background-color: hsl(244, 28%, 95%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (min-width: 768px) {
  .about-me {
    flex-direction: row;
    height: 100vh;
    font-size: 18px;
    background-color: white;
  }
  .about-img-div {
    width: 325px;
  }
}
@media (min-width: 1024px) {
  .about-img-div {
    width: 500px;
    transform: translateX(-130px);
  }
}
.education-skills {
  grid-area: education-skills;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(150px);
}

.graduation-photo-div,
.profile,
.education {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  line-height: 2;
}

.education {
  transform: rotate(-7deg);
}

.profile {
  transform: rotate(7deg);
}

.education,
.profile {
  background-color: hsl(244, 28%, 95%);
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-icon {
  left: 0px;
}

.education-icon {
  right: 0px;
}

.fa-paperclip {
  position: absolute;
  top: 0px;
  font-size: 25px;
  color: #9C95DC;
}

.degree {
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 768px) {
  .education-skills {
    height: 100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .education-profile {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 15px;
  }
  .education,
  .profile {
    width: 200px;
    padding: 5px;
    background-color: white;
  }
  .profile {
    transform: rotate(0);
  }
  .degree {
    font-size: 14px;
    color: #417B5A;
  }
  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: rotate(0);
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  .education-profile,
  .skills {
    width: 100%;
  }
  .education,
  .profile {
    width: 300px;
  }
  .skills-card {
    width: 300px;
  }
  .skills-heading {
    top: -20px;
  }
  .education {
    font-size: 16px;
  }
  .degree {
    font-size: 20px;
  }
}
.portfolio {
  grid-area: portfolio;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  transform: translateY(350px);
  text-align: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 50px;
}

.project-card {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  line-height: 2;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: 2s linear fade-in;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-title {
  font-size: 20px;
  font-weight: bolder;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: white;
  transition: all 200ms;
  background-color: #228CDB;
  padding: 0 5px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .portfolio {
    height: 100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top: 100px;
  }
  .portfolio-container {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
  }
  .project-card {
    width: 330px;
  }
}
@media (min-width: 1024px) {
  .portfolio {
    width: 100%;
  }
  .project-card {
    width: 400px;
  }
}
.skills-section {
  grid-area: skills-section;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  transform: translateY(250px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.skills-card {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  padding-top: 25px;
  height: 100%;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: hsl(244, 28%, 95%);
}
.skills-icon {
  text-align: center;
  font-size: 25px;
  color: #228CDB;
  letter-spacing: 5px;
  margin-top: 20px;
}

.no-bullet {
  list-style: none;
  font-weight: bold;
}

.front {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.card-pin {
  position: absolute;
  top: 0;
  right: 50%;
  color: #9C95DC;
}

@media (min-width: 768px) {
  .skills-section {
    height: 100vh;
    max-height: 100%;
    padding-top: 40px;
  }
  .skills {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-250px);
  }
  .skills-tip {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-card {
    width: 230px;
    padding: 25px;
    background-color: white;
  }
  .skills-icon {
    font-size: 35px;
  }
}
@media (min-width: 1024px) {
  .skills-card {
    width: 315px;
  }
  .skills-icon {
    font-size: 55px;
  }
}
