$box-shadow-lg:0 1rem 3rem rgba(black, .175);

$primary-color:#9C95DC;
$primary-color-light: hsl(244, 28%, 95%);;

$secondary-color:#228CDB;
$secondary-color-light:#a7d1f1;

$debug-color: hsl(30 100% 50% / 0.2);