@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 25px;
   border-radius: 5px;
}

.about-me-intro{
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    background-color: hsl(246, 50%, 90%);
}

.about-heading{
    color: #228CDB;
}

.who-am-i{
 border-radius: inherit;
  text-align: center;

}

.about-icon{
    font-size: 30px;
    letter-spacing: 20px;
    transform: translateY(10px);
   color: #228CDB;
}

.about-p{
    text-align: center;
    background-color:#9C95DC;
    border-radius: inherit;
    margin: 0 auto;
   padding: 10px;
    color: whitesmoke;
    
}

.my-story{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 5px;
    line-height: 1.5;
}

.badge{
       background-color:#B9A3D1;
      cursor: pointer;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    
     .badge:hover{
     background-color:#0d6efd;
     cursor: pointer;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .background-heading{
        text-shadow: 3px 3px 20px hsl(216, 98%, 70%),
   -2px 1px 30px hsl(216, 98%, 70%);
    }



.overlay {
 display: none;
 height: 100vh;
position: fixed;
 inset: 0;
background: rgba(0, 0, 0, 0.4);
 z-index: 100;
 }

 .modal{
position: relative;
 display: flex;
flex-direction: column;
justify-content: center;
 align-items: center;
width: 320px;
height: 100%;
 margin: 0 20%;
 background-color: white;
 padding-left: 20px;
 padding-right: 20px;
 line-height: 1.5;
 box-shadow: rgba(211, 181, 229, 0.293) 0px 54px 55px, rgba(211, 181, 229, 0.12) 0px -12px 30px, rgba(211, 181, 229, 0.12) 0px 4px 6px, rgba(211, 181, 229, 0.17) 0px 12px 13px, rgba(211, 181, 229, 0.09) 0px -3px 5px;
}

.close-btn {
position: absolute;
right: 15px;
top: 7px;
cursor: pointer;
 font-size: 25px;
transition: all 200ms;
     }

.hide{
 display: none;
}

 .show{
 display: block;
 }