@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    background-color:#9C95DC;
    border-radius: 3px;
    padding: 15px;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 20px;

}

.button:hover{
    background-color:#228CDB;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   }


.about-badge{
    width: max-content;
    border-radius: 25px;
    padding: 3px;
    background-color:$primary-color;
   cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 30px;
 }
 
  .about-badge:hover{
  background-color:$secondary-color;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }

 .close-btn {
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
     font-size: 25px;
    transition: all 200ms;
         }

         .close-btn:hover{
            color: $primary-color;
         }