@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.education-skills{
   grid-area: education-skills;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.graduation-photo-div,
.profile, 
.education{
    text-align: center;
width: 300px;
margin: 0 auto;
line-height: 2;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}


 .skills-card{
   text-align: start;
   display: block;
   max-width: 100%;
   max-height: 100%;
   width: 320px;
   height: 100%;
 position: relative;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 }

 .skills-icon{
    text-align: center;
     font-size: 25px;
    color: $secondary-color;
    letter-spacing: 5px;
    margin-top: 20px;}

  .no-bullet{
 list-style: none;
}

.card-pin{
   position: absolute;
    top: 0;
    right: 50%;
    color:  hsl(315, 24%, 50%) 
   }


// @media (min-width: 768px) {
//    // .education-profile{
//    //    flex-direction: row;
//    // }
// }
    