@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.intro-img{
   width: 200px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: absolute;
    top: -70px;
    right: 100px;
    }

    .about-img,
    .graduation-photo{
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      @include responsive-image;
      margin: 0 auto;
    }

    .card-img-top{
      width: 250px;
      
    }