@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;



.portfolio-container{
    gap: 30px;
}

.card{
    background-color:$secondary-color-light;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.card-body{
    background-color: white;
}