@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


@keyframes slidein {
    from {
      transform:translateX(-300px);
    }
  
    to {
        transform:translateX(0);
      
    }
  }

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
       opacity: 1;;
      
    }
  }