@use "../utilities/mixins"as *;
@use "../utilities/variables"as *;

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.move-right{
  animation: move-right linear 3s forwards;
}
.fade-in{
  animation: fade-in linear 3s forwards;
}

@keyframes move-right {
  from {
    translate: -100% 0%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(10px);
  }
}