@use "../utilities/mixins"as *;
@use "../utilities/variables"as *;

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

@keyframes slide-in {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}