@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.intro{
    z-index: 2;
}
.intro-img{
    @include responsive-image;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.nav-link:hover{
    background-color:#D3B5E5;
box-shadow: $box-shadow-lg;
    color: white;
}

.main-content{
    @include responsive-grid;
}

.home{
    grid-area: home;
}
.about{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-area: about;
    background-color: hsla(198, 53%, 85%, 0.242);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.portfolio{
    grid-area: portfolio;
}
.skills{
    grid-area: skills;
}
.contact{
    grid-area: contact;
}

.badge{
    background-color:#C8A2C8;
    cursor: pointer;
}

.overlay {
    // display: none;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal{
    display: flex;
    justify-content: center;
    background-color: white;

}