@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.intro{
    z-index: 2;
}
.intro-img{
    @include responsive-image;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.container{
    gap: 60px;
}

.main-nav{
padding-top: 10px;
}

.nav-link:hover{
background-color:#D3B5E5;
box-shadow: $box-shadow-lg;
    color: white;
}

.close-btn:hover{
color: #0d6efd;
}

.main-content{
    @include responsive-grid;
}

.home{
    grid-area: home;
    padding-bottom: 10px;
}
.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-area: about;
    background-color: hsla(198, 53%, 85%, 0.242);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.portfolio{
    grid-area: portfolio;
}
.skills{
    grid-area: skills;
}
.contact{
    grid-area: contact;
}

.badge{
    background-color:#B9A3D1;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.badge:hover{
    background-color:#0d6efd;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.overlay {
    display: none;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 550px;
    margin: 3% 30%;
    background-color: white;
    padding: 30px;
    font-size: 18px;
    line-height: 2;
    box-shadow: rgba(211, 181, 229, 0.293) 0px 54px 55px, rgba(211, 181, 229, 0.12) 0px -12px 30px, rgba(211, 181, 229, 0.12) 0px 4px 6px, rgba(211, 181, 229, 0.17) 0px 12px 13px, rgba(211, 181, 229, 0.09) 0px -3px 5px;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
    font-size: 25px;
    transition: all 200ms;
    
  }

  .hide{
    display: none;
  }

  .show{
    display: block;
  }
